---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="" class="gpt-title">SSDAI Pro</a>
    <a href="" class="gpt-subtitle">Chat</a>
  </div>
  <p mt-1 op-60>
    调用
    <a href=""> Gemini Pro API.</a>
    <a href="" class="font-bold">接口来开发使用</a>
  </p>
</header>
